{% extends 'layouts/admin/base.html.twig' %}

{% block title %}
	{{ user.fullname}}
{% endblock %}

{% block body %}
	<h1>{{ isOwnProfile ? 'Profil' : 'User Details' }}</h1>

	<div class="card">
		<div class="card-header">
			<h3>{{ user.fullname }}</h3>
		</div>
		<div class="card-body">
			<p>
				<strong>Email:</strong>
				{{ user.email }}</p>
			<p>
				<strong>Phone:</strong>
				{{ user.phone }}</p>
			<p>
				<strong>Role:</strong>
				{% set displayedRoles = user.roles|filter(role => role != 'ROLE_USER') %}
				{% for role in displayedRoles %}
					{{ role_badge(role) }}
				{% endfor %}

				{% if 'ROLE_TEACHER' in user.roles %}
					<p>
						<strong>Department:</strong>
						{{ user.departement }}</p>
					<p>
						<strong>Speciality:</strong>
						{{ user.speciality }}</p>
				{% elseif 'ROLE_STUDENT' in user.roles %}
					<p>
						<strong>CV:</strong>
						{% if user.cv %}
							<a href="{{ asset('uploads/cvs/' ~ user.cv) }}" target="_blank">Download CV</a>
						{% else %}
							Not uploaded
						{% endif %}
					</p>
					<p>
						<strong>Skills:</strong>
						{{ user.skills }}</p>
					<p>
						<strong>Progression:</strong>
						{{ user.progression }}</p>
				{% endif %}
			</p>
			<p>
				<strong>Avatar:</strong>
			</p>
			{% if user.avatar %}
				<img class="img-profile " src="{{ user.getAvatarUrl  }}" style="width: 100px; height: 100px;" alt="{{ app.user.name }}">
			{% else %}
				<img class="img-profile rounded-circle" src="{{ user.getAvatarUrl(150) }}" alt="{{ app.user.name }}">
			{% endif %}
		</div>
	</div>

	{% if isOwnProfile  %}
		<a href="{{ path('app_home_dashboard') }}" class="btn btn-secondary mt-3">Back to Home</a>
		<a href="{{ path('app_user_edit', {id: app.user.id}) }}" class="btn btn-info mt-3">Edit Profile</a>
	{% else %}
		<a href="{{ path('app_user_index') }}" class="btn btn-secondary mt-3">Back to list</a>
	{% endif %}
{% endblock %}
